<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <script type='text/javascript' src="/jquery/jquery.js"></script>
    <script type='text/javascript' src='/javascripts/myScript.js'></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrapCss/bootstrap.css' />
    <script type='text/javascript' scr='/bootstrapJs/bootstrap.js'></script>
  </head>
  <body>
    <% include nav %>
    <div class='container-fluid hero-Size back' id="slide1">
      <img src='/images/background.jpg' id='backImg' class='hero-Size'>
      <div class='container text-center line-ht vert-centr'>
        <h1 id='mainHd'><%= title %></h1>
        <img alt='space 'src="/images/main.jpg" id='mainImg'>
        <button id='contactBtn'> Contact </button>
      </div>
    </div>

    <div class="container-fluid full row" id="slide2">
      <div class='col-md-6 flex'>
        <img alt="fencing" src='/images/fencer.png'>
      </div>
      <div class='col-md-6 flex-col'>
        <h2> Title </h2>
        <p>
           sijfiessjrfiudvnsdjnviusdnviudnvndvdiurhviudhriuehruiheruheruhfp;
          iuerhfuiehrfuhrefuihrfiuherfiuheruiheruheriuhfeurhfiuhrfuhrfuikdjfn
          dlkfndjnfblkdnfbklndfbklndfklnbkldfnblkdfnblkndfbklndfklbdnfbdfb
          dfnbkldfknblkdfnblkndfbklndfklnbdklfnbdklfnblkndfb
          dfbkndfbklndlkfnblkdfnblkndfbklndfklbdlfkmldkmfoijwerfoien;nwef
        </p>
      </div>
    </div>

    <div class='container-fluid footer flex row'>
      <div class='col-md-4'>
        <h3> Title </h3>
        <p>
          this is some text its just a footer guys
          I am really bad at web design. desent at the coding but
          horendous at design.
        </p>
      </div>
      <div class='col-md-4 links'>
        <a href='#'> About </a>
        <a href='#'> About </a>
        <a href='#'> About </a>
        <a href='#'> About </a>
      </div>
    </div>

  </body>




</html>
